.logo{
    background-image: url(../img/ribbon_l.png), url(../img/ribbon_r.png);
    background-position: center left , center right;
    background-repeat: no-repeat, no-repeat;
    margin-bottom: 89px;
    img{
        display: block;
        margin: 0 auto;
    }
}

section{
    h1{
        color:  #656565;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    p{
        color:  #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        a{
            color:  #46aa42;
        }
    }
    .modal{
        padding: 0!important;
        .modal-dialog{
            margin: 230px auto!important;
        }
        .modal-content{
            border-radius: 0px;
            background-color: rgba(255, 255, 255, 0.85);
            @include box-shadow(0 0 12px rgba(0,0,0,.32));
        }
        .form{
            position: relative;
            width: 752px;
            margin: 0 auto!important;
            @include make-row();
            h2{
                color:  #717174;
                font-size: 20px;
                font-weight: 700;
                line-height: 18px;
                margin-top: 18px;
                margin-bottom: 25px;
            }
        }
        .continue{
            margin-top: 34px;
            text-align: center;
            background: #717174;
            p{
                text-align: center;
                color:  #fff;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin: 8px 0 0 0;
            }
            button{
                display: inline-block;
                background-color: #46aa42;
                border: none;
                outline: none;
                color: #fff;
                text-align: center;
                line-height: 30px;
                width: 96px;
                height: 30px;
                margin-top: 6px;
                margin-bottom: 11px;
            }
        }
        .close-btn{
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0;
        }
        .check{
            @include make-xs-column(4);
            .radio{
                margin-bottom: 19px;
            }
            .i-m{
                margin-bottom: 22px;
            }
            span, label{
                font-size: 14px;
                font-weight: normal;
                line-height: 11px;
                color: #000;
                @include text-shadow(0 1px rgba(0,0,0,.24));
            }
            label{
                padding: 0;
                span{
                    position: relative;
                    top: -6px;
                }
            }
            input{
                display: none;
            }
            input + i{
                position: relative;
                display: inline-block;
                width: 24px;
                height: 24px;
                background: #fff;
                border: 1px solid #bbbbbc;
                @include border-radius(50%);
            }
            input:checked + i{
                &:after{
                    content: '';
                    position: absolute;
                    left: 4px;
                    top: 4px;
                    display: block;
                    width: 14px;
                    height: 14px;
                    background: #717174;
                    @include border-radius(50%);
                }
            }
        }
        .inputs{
            @include make-xs-column(8);
            padding-left: 41px;
            .form-group{
                margin-bottom: 9px;
            }
            label{
                padding-right: 8px;
                font-size: 14px;
                font-weight: normal;
                color: #000;
                @include text-shadow(0 1px rgba(0,0,0,.24));
            }
            input{
                margin-left: 5px;
                height: 32px;
                border: 1px solid #b8b8b9;
            }
        }
    }
}